*{
    Margin: 0;
	Padding: 0;
	Box-sizing: border-box; 
}
@font-face {
    font-family: Tommy;
    src: url(../Fonts/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf);
}
@font-face {
    font-family: bogart;
    src: url(../Fonts/Bogart-Bold-trial.ttf);
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.encabezado{
    background-color: #222725;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 5px;
}
.items{
    display: inline-block;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 2rem;
}
.items:hover{
    background-color: rgb(166, 166, 166);
}
.pages{
    text-decoration: none;
    font-family: Tommy;
    font-size: 300%; 
    color: blanchedalmonds;
}
.pages:hover{
    color: #222725;
}
.imagen{
    height: 150px;
    width: auto;
}
.navegacion{
    list-style: none;
    color: aliceblue;
}
.items{
    display: inline-block;
    padding: 5px;
    font-size: 100%;
    font-family: sans-serif;
}
.principal_page{ 
    background-image: url(../images/barber.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}
.titulo1{ 
    font-size: 6rem;
    margin: 3rem 0rem;
    display: inline-block;
    text-align: center; 
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: rgb(179, 179, 179);
}
.titulo2{ 
    font-size: 6rem;
    margin-bottom: 3rem;
    text-align: center;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: white;
    
}
h1{ 
    font-family: bogart;
}
h2{
    font-family: bogart;
}
h3{
    color: darkslategray;
    font-size: 2.5rem;
    font-family: Tommy;
}
h4{
    color: black;
    font-size: 1.5rem;
    font-family: Tommy;
}
p{
    font-family: Tommy;
}
main{
    background-color: #c2c2c2;
}
.pie{
    background-color: rgb(100, 100, 100);
    background-size: 3rem;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 20px;
    border-top: black;
    border-top-width: 3px;
    border-top-style: solid;
    width: 100vw;
    margin: 0rem;
}
.seguinos{
    font-size: 200%;
    font-family: Tommy;
    color: cornsilk;
    text-align: center;
}
.instagram{
    height: 40px;
    width: 40px;
}
.la_pelu{
    margin-top: 2rem;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: 
        "veni atencion"
        "veni carrusel"
        "veni carrusel";
    gap: 1rem;
}
.fotos_pelu {
    width: 48vw;
    border-radius: 2rem;
}
.titulos_pages {
    font-size: 400%;
    font-family: Tommy;
    color: black;
    text-align: center;
    padding-top: 1rem;
}
.carrusel{
    grid-area: carrusel;
    margin-bottom: 2rem;
    width: 95%;
    
}
.botones{
    margin-left: 0rem;
}
.atencion{
    grid-area: atencion;
    margin-left: 1rem;
}
.veni {
    grid-area: veni;
    margin-left: 1rem;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    border: #163535;
    border-radius: 1rem;
    border-style: solid;
    border-width: .5rem;
}
.invitacion{
    font-size: 300%;
    text-align: center;
}
.direccion{
    font-size: 200%;
    text-align: center;
}
.mapa{
    border: #222725;
    border-style: solid;
    border-width: 0.5rem;
}
.atencion{
    margin-right: 1rem;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    gap: 5px;
    background-color:#163535;
    border: #5a7979;
    border-radius: 1rem;
    border-style: solid;
    border-width: .5rem;
}
.horarios{
    padding-top: 10px;
    font-size: 270%;
    color: beige;
    text-decoration: underline;
    text-align: center;
}
.dias{
    color: rgb(239, 200, 150);
    font-size: 170%;
    text-align: center;
}
.cerrado{
    margin-left: 1rem;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
    background-color:#163535;
    border: #5a7979;
    border-radius: 1rem;
    border-style: solid;
    border-width: .5rem;
}
.pelu_cerrada{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
}
.pie_pages{
    padding: 2rem;
    background-color: rgb(100, 100, 100);
    border-top: black;
    border-top-width: 3px;
    border-top-style: solid;
}
.lotos_pie{
    font-size: 2rem;
    color: black;
}
.servicios{
    margin: 2rem .5rem 0rem .5rem;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.cortes{
    background-image: url(../images/cortes.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30vw;
    height: 90vh;
    border: #151a1a;
    border-style: solid;
    border-width: .5rem;
}
.barba{
    background-image: url(../images/barba.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30vw;
    height: 90vh;
    border: #151a1a;
    border-style: solid;
    border-width: .5rem;
}
.cejas{
    background-image: url(../images/cejas.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30vw;
    height: 90vh;
    border: #151a1a;
    border-style: solid;
    border-width: .5rem;
    
}
.títulos_servicios{
    font-size: 400%;
    color: #091313;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #245050;
}
.diseños_cortes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: max-content;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.texto-diseños{
    text-align: center;
    font-size: 300%;
}
.diseños{
    width: 40vw;
    height: auto;
}
.eloy{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.info_eloy{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.foto_eloy{
    width: 20vw;
    height: 25vw;
}
.titulos_barberos{
    font-size: 350%;
}
.caja_ivan{
    background-color: orange;
    padding: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.info_ivan{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.barberos{
    padding-bottom: 2%;
}
.barbero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descripcion{
    font-size: 200%;
}
.info{
    background-color: rgb(112, 112, 112);
    margin-top: -2rem;
    padding: .5rem .5rem;
    border-radius: 1.5rem;
    border-style: solid;
    border-color: #151a1a;
    border-width: .25rem;
}
.nombres{
    font-size: 200%;
    color: white;
}
.hijos{
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.hijos_eloy{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.barberos_fotos{
    width: 15vw;
    height: 20vw;
    justify-items: center;
}
.redes_contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.whatsapp{ 
    padding: 2rem 2rem 2rem 0rem;
    width: 48vw;
}
.numerowpp{
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: .5rem;
}
.encontranos_ig{
    text-align: center;
}
.escribinos{
    text-align: center;
}
.wpplogo{
    width: 170px;
}
.calendario{
    width: 200px;
}
.numero{
    font-size: 2.5rem;
    color: rgb(0, 107, 32);
    font-family: Tommy;
}
.redes_sociales{
    padding: 2rem 1rem;
    width: 45vw;
}
.imgcelu{
    width: 250px;
}
.inforedes{
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding: 2rem 0rem;   
}

.logosredes{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.logos{
    width: 150px;
}
.usuario{
    font-size: 220%;
    font-family: Tommy;
}
@media(max-width: 1353px){
    .redes_contacto{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .whatsapp{ 
        padding: .5rem;
        width: 100vw;
    }
    .numero{
        font-size: 250%;
    }
    .redes_sociales{
        padding: .5rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .inforedes{
        gap: 10px;
    }
    .encontranos_ig{
        text-align: center;
    }
}
@media(max-width: 1241px){
    .horarios{
        font-size: 200%;
    }
    .dias{
        font-size: 120%;
    }
}
@media(max-width: 1219px){
    .pages{
        font-size: 250%;
    }
}
@media(max-width: 991px){
    .info_eloy{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .foto_eloy{
        width: 40vw;
        height: 50vw;
    }
    .descripcion{
        grid-area: texto;
        text-align: center;
        font-size: 150%;
    }
    .elian_img{
        width: 30vw;
        height: 40vw;
        size: 100%;
        grid-area: morro;
    }
    .alejo_img{
        width: 30vw;
        height: 40vw;
        grid-area: alejo;
    }
    .hijos_eloy{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "alejo morro"
            "texto texto";
    }
    .info_ivan{
        display: flex;
        flex-direction: column-reverse;
    }
    .ivan_img{
        width: 40vw;
        height: 50vw;
    }
    .nombres{
        font-size: 100%;
    }
}
@media(max-width: 950px){
    .cortes{
        width: 40vw;        
    }
    .barba{
        width: 40vw;
    }
    .cejas{
        width: 40vw;
    }
}
@media(max-width: 937px){
    .horarios{
        font-size: 170%;
    }
}
@media(max-width: 860px){
    .la_pelu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .veni{
        width: 90vw;
        margin: 0;
    }
    .atencion{
        width: 90vw;
        margin: 0px 0px 5px 0px;
    }
    .carrusel{
        width: 90vw;
    }
}
@media(max-width: 760px){
    .titulo1{
        font-size: 5rem;
    }
    .titulo2{
        font-size: 5rem;
    }
}
@media(max-width: 690px){
    .calendario{
        width: 120px;
    }
    .wpplogo{
        width: 120px;
    }
}
@media(max-width: 674px){
    .pages{
        font-size: 200%;
    }
    .servicios{
        flex-direction: column;
    }
    .barba{
        width: 70vw;
    }
    .cejas{
        width: 70vw;
    }
    .cortes{
        width: 70vw;
    }
    .diseños{
        width: 60vw;
        height: auto;
    }
}
@media(max-width: 665px){
    .logosredes{
        display: flex;
        flex-direction: column;
    }
    .calendario{
        display: none;
    }
}
@media(max-width: 584px){ 
    .pages{
        font-size: 120%;
    }
}
@media(max-width: 515px){
    .wpplogo{
        width: 100px;
    }
    .numero{
        font-size: 200%;
    }
    .imgcelu{
        width: 200px;
    }
    .logos{
        width: 100px;
    }
    .usuario{
        font-size: 170%;
    }
    .inforedes{
        gap: 0;
    }
}
@media(max-width: 500px){
    .titulo1{
        font-size: 4rem;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: rgb(179, 179, 179);
    }
    .titulo2{
        font-size: 4rem;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: white;
    }
}
@media(max-width: 450px){
    .titulos_barberos{
        font-size: 250%;
        text-align: center;
    }
    .elian_img{
        width: 30vw;
        height: 50vw;
    }
    .alejo_img{
        width: 30vw;
        height: 50vw;
    }
}
@media(max-width: 401px){
    .títulos_servicios{
        font-size: 300%;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: #245050;
    }
    .numero{
        font-size: 150%;
    }
}
@media(max-width: 375px){
    .inforedes{
        flex-direction: column;
    }
    .titulos_pages{
        font-size: 300%;
    }
}
@media(max-width: 370px){
    .hijos_eloy{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "alejo"
            "morro"
            "texto";
    }
    .elian_img{
        width: 40vw;
        height: 50vw;
    }
    .alejo_img{
        width: 40vw;
        height: 50vw;
    }
    .desc_hijos{
        font-size: 100%;
    }
}
@media(max-width: 325px){
    .encabezado{
        display: flex;
        justify-content: center;
    }
}