@media(max-width: 1450px){
    .servicios{
        .cortes{
            width: 45vw;
            height: 70vh;        
        }
        .barba{
            width: 45vw;
            height: 70vh;
        }
        .cejas{
            width: 45vw;
            height: 70vh;
        }
    }
}
@media(max-width: 1353px){
    .redes_contacto{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .whatsapp{ 
            padding: .5rem;
            width: 100vw;
            .numerowpp{
                .numero{
                    font-size: 250%;
                }
            }
        }
        
        .redes_sociales{
            padding: .5rem;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .inforedes{
                gap: 10px;
            }
            .encontranos_ig{
                text-align: center;
            }
        }
    } 
}
@media(max-width: 1241px){
    .la_pelu{
        .atencion{
            .horarios{
                font-size: 200%;
            }
            .dias{
                font-size: 120%;
            }
        }
    }
    
}
@media(max-width: 1219px){
    .encabezado{
        .navegacion{
            .pages{
                font-size: 250%;
            }
        }
    }
    
}
@media(max-width: 991px){
    .barberos{
        .eloy{
            .info_eloy{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                .foto_eloy{
                    width: 40vw;
                    height: 50vw;
                }
            }

        }
    }
    .hijos{
        .hijos_eloy{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                "alejo morro"
                "texto texto";
        }
    }
    .caja_ivan{
        .info_ivan{
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .descripcion{
        grid-area: texto;
        text-align: center;
        font-size: 150%;
    }
    .elian_img{
        width: 30vw;
        height: 40vw;
        size: 100%;
        grid-area: morro;
    }
    .alejo_img{
        width: 30vw;
        height: 40vw;
        grid-area: alejo;
    }
    .ivan_img{
        width: 40vw;
        height: 50vw;
    }
    .nombres{
        font-size: 100%;
    }
}
@media(max-width: 950px){
    .servicios{
        .cortes{
            width: 80vw;
            height: 50vh;        
        }
        .barba{
            width: 80vw;
            height: 50vh;
        }
        .cejas{
            width: 80vw;
            height: 50vh;
        }
    }
}
@media(max-width: 937px){
    .la_pelu{
        .atencion{
            .horarios{
                font-size: 170%;
            }
        }
    }
}
@media(max-width: 860px){
    .la_pelu{
        display: flex;
        flex-direction: column;
        align-items: center;
        .veni{
            width: 90vw;
            margin: 0;
        }
        .atencion{
            width: 90vw;
            margin: 0px 0px 5px 0px;
        }
        .pelu{
            .carrusel{
                width: 90vw;
            }
        }
    } 
}
@media(max-width: 760px){
    main{
        .principal_page{
            height: 80vh;

            .titulo1{
                font-size: 5rem;
            }
            .titulo2{
                font-size: 5rem;
            }
        }
    }
    
}
@media(max-width: 690px){
    .redes_contacto{
        .whatsapp{
            .numerowpp{
                .calendario{
                    width: 120px;
                }
                .wpplogo{
                    width: 120px;
                }
            }
        }
    } 
}
@media(max-width: 674px){
    .encabezado{
        .navegacion{
            .pages{
                font-size: 200%;
            }
        }
    }
    .servicios{
        flex-direction: column;
        .barba{
            width: 70vw;
        }
        .cejas{
            width: 70vw;
        }
        .cortes{
            width: 70vw;
        }
        .diseños{
            width: 60vw;
            height: auto;
        }
    }
    
}
@media(max-width: 665px){
    .redes_contacto{
        .redes_sociales{
            .inforedes{
                .logosredes{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    
    .redes_contacto{
        .whatsapp{
            .numerowpp{
                .calendario{
                    display: none;
                }
            }
        }
    }  
}
@media(max-width: 584px){ 
    .encabezado{
        .navegacion{
            .pages{
                font-size: 120%;
            }
        }
        }
    }
@media(max-width: 560px){
    .servicios{
        .diseños_cortes{
            .texto-diseños{
            font-size: 200%;
            }
            .diseños{
            width: 70vw;
            height: auto;
            }
        
        }    
    }
}
@media(max-width: 515px){
    .redes_contacto{
        .redes_sociales{
            .inforedes{
                    gap: 0;
                    .imgcelu{
                        width: 200px;
                    }
                    .logosredes{
                        .logos{
                            width: 100px;
                        }
                        .usuario{
                            font-size: 170%;
                        }
                    }
            }
        }
        .whatsapp{
            .numerowpp{
                .wpplogo{
                    width: 100px;
                }
                .numero{
                    font-size: 200%;
                }
            }
        }
    }  
}
@media(max-width: 500px){
    main{
        .principal_page{
            .titulo1{
                font-size: 4rem;
                -webkit-text-stroke: 2px;
                -webkit-text-stroke-color: rgb(179, 179, 179);
            }
            .titulo2{
                font-size: 4rem;
                -webkit-text-stroke: 2px;
                -webkit-text-stroke-color: white;
            }
        }
    }
    .redes_contacto{
        .redes_sociales{
            .inforedes{
                .logosredes{
                    .logos{
                        width: 100px;
                    }
                    .usuario{
                        font-size: 150%;
                    }
                }
            }
        }
    }
}
@media(max-width: 450px){
    .hijos{
        .titulos_barberos {
        font-size: 250%;
        }
    }
    .titulos_barberos{
        font-size: 250%;
        text-align: center;
    }
    .elian_img{
        width: 30vw;
        height: 50vw;
    }
    .alejo_img{
        width: 30vw;
        height: 50vw;
    }
}
@media(max-width: 401px){
    .títulos_servicios{
        font-size: 300%;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: #245050;
    }
    .servicios{
        .cortes{
            width: 90vw;
            height: 40vh;        
        }
        .barba{
            width: 90vw;
            height: 40vh;
        }
        .cejas{
            width: 90vw;
            height: 40vh;
        }
    }
    .redes_contacto{
        .whatsapp{
            .numerowpp{
                .numero{
                    font-size: 150%;
                }
            }
        }
    }
}
@media(max-width: 386px){
    .servicios{
        .diseños_cortes{
            .texto-diseños{
            font-size: 170%;
        }
        }    
    }
}
@media(max-width: 375px){
    .redes_contacto{
        .redes_sociales{
            .inforedes{
                flex-direction: column;
            }
        }
    }
    .titulos_pages{
        font-size: 300%;
    }
    .encabezado{
        .navegacion{
            justify-content: center;
            .pages{
                text-align: center;
            }
        }
        
    }
}
@media(max-width: 370px){
    .hijos{
        .hijos_eloy{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                "alejo"
                "morro"
                "texto";
        }
    }
    .elian_img{
        width: 40vw;
        height: 50vw;
    }
    .alejo_img{
        width: 40vw;
        height: 50vw;
    }
    .desc_hijos{
        font-size: 100%;
    }
}
@media(max-width: 325px){
    .encabezado{
        display: flex;
        justify-content: center;
    }
}