@charset "UTF-8";
* {
  Margin: 0;
  Padding: 0;
  Box-sizing: border-box;
}

@font-face {
  font-family: Tommy;
  src: url(../Fonts/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf);
}
@font-face {
  font-family: bogart;
  src: url(../Fonts/Bogart-Bold-trial.ttf);
}
a {
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.encabezado {
  background-color: #222725;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 5px;
}
.encabezado .imagen {
  height: 150px;
  width: auto;
}
.encabezado .navegacion {
  list-style: none;
  color: aliceblue;
}
.encabezado .navegacion .items {
  display: inline-block;
  font-family: sans-serif;
  padding: 5px;
  font-size: 100%;
  border-radius: 2rem;
}
.encabezado .navegacion .items:hover {
  background-color: rgb(166, 166, 166);
}
.encabezado .navegacion .pages {
  text-decoration: none;
  font-family: Tommy;
  font-size: 300%;
  color: blanchedalmonds;
}
.encabezado .navegacion .pages:hover {
  color: #222725;
}

h1 {
  font-family: bogart;
}

h2 {
  font-family: bogart;
}

h3 {
  color: darkslategray;
  font-size: 2.5rem;
  font-family: Tommy;
}

h4 {
  color: black;
  font-size: 1.5rem;
  font-family: Tommy;
}

p {
  font-family: Tommy;
}

main {
  background-color: #c2c2c2;
}
main .principal_page {
  background-image: url(../images/barber.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
main .principal_page .titulo1 {
  font-size: 6rem;
  margin: 3rem 0rem;
  display: inline-block;
  text-align: center;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: rgb(179, 179, 179);
}
main .principal_page .titulo2 {
  font-size: 6rem;
  margin-bottom: 3rem;
  text-align: center;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: white;
}

.pie {
  background-color: rgb(100, 100, 100);
  background-size: 3rem;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  border-top: black;
  border-top-width: 3px;
  border-top-style: solid;
  width: 100vw;
  margin: 0rem;
}
.pie .seguinos {
  font-size: 200%;
  font-family: Tommy;
  color: cornsilk;
  text-align: center;
}
.pie .instagram {
  height: 40px;
  width: 40px;
}

.la_pelu {
  margin-top: 2rem;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 30% 30%;
  grid-template-areas: "veni atencion" "veni carrusel" "veni carrusel";
  gap: 1rem;
}
.la_pelu .veni {
  grid-area: veni;
  margin-left: 1rem;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  border: #163535;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.5rem;
}
.la_pelu .veni .invitacion {
  font-size: 300%;
  text-align: center;
}
.la_pelu .veni .direccion {
  font-size: 200%;
  text-align: center;
}
.la_pelu .veni .mapa {
  border: #222725;
  border-style: solid;
  border-width: 0.5rem;
}
.la_pelu .pelu .carrusel {
  grid-area: carrusel;
  margin-bottom: 2rem;
  width: 95%;
}
.la_pelu .pelu .carrusel .botones {
  margin-left: 0rem;
}
.la_pelu .atencion {
  grid-area: atencion;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 5px;
  background-color: #163535;
  border: #5a7979;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.5rem;
}
.la_pelu .atencion .horarios {
  padding-top: 10px;
  font-size: 270%;
  color: beige;
  text-decoration: underline;
  text-align: center;
}
.la_pelu .atencion .dias {
  color: rgb(239, 200, 150);
  font-size: 170%;
  text-align: center;
}

.fotos_pelu {
  width: 48vw;
  border-radius: 2rem;
}

.titulos_pages {
  font-size: 400%;
  font-family: Tommy;
  color: black;
  text-align: center;
  padding-top: 1rem;
}

.pie_pages {
  padding: 2rem;
  background-color: rgb(100, 100, 100);
  border-top: black;
  border-top-width: 3px;
  border-top-style: solid;
}
.pie_pages .lotos_pie {
  font-size: 2rem;
  color: black;
}

.servicios {
  margin: 2rem 0.5rem 0rem 0.5rem;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.servicios .cortes {
  background-image: url(../images/cortes.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30vw;
  height: 90vh;
  border: #151a1a;
  border-style: solid;
  border-width: 0.5rem;
}
.servicios .barba {
  background-image: url(../images/barba.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30vw;
  height: 90vh;
  border: #151a1a;
  border-style: solid;
  border-width: 0.5rem;
}
.servicios .cejas {
  background-image: url(../images/cejas.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30vw;
  height: 90vh;
  border: #151a1a;
  border-style: solid;
  border-width: 0.5rem;
}
.servicios .diseños_cortes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: -moz-max-content;
  width: max-content;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.servicios .diseños_cortes .texto-diseños {
  text-align: center;
  font-size: 300%;
}
.servicios .diseños_cortes .diseños {
  width: 40vw;
  height: auto;
}

.títulos_servicios {
  font-size: 400%;
  color: #091313;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #245050;
}

.barberos {
  padding-bottom: 2%;
}
.barberos .eloy {
  background-color: #163535;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  padding: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.barberos .eloy .info_eloy {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.barberos .eloy .info_eloy .foto_eloy {
  width: 20vw;
  height: 25vw;
}

.hijos {
  background-color: midnightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.hijos .titulos_barberos {
  font-size: 350%;
}
.hijos .hijos_eloy {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hijos .barbero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcion {
  font-size: 200%;
}

.caja_ivan {
  background-color: orange;
  padding: 2%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja_ivan .info_ivan {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  background-color: rgb(112, 112, 112);
  margin-top: -2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 1.5rem;
  border-style: solid;
  border-color: #151a1a;
  border-width: 0.25rem;
}

.nombres {
  font-size: 200%;
  color: white;
}

.barberos_fotos {
  width: 15vw;
  height: 20vw;
  justify-items: center;
}

.redes_contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.redes_contacto .whatsapp {
  padding: 2rem 2rem 2rem 0rem;
  width: 48vw;
}
.redes_contacto .whatsapp .titulowpp .escribinos {
  text-align: center;
}
.redes_contacto .whatsapp .numerowpp {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.redes_contacto .whatsapp .numerowpp .wpplogo {
  width: 170px;
}
.redes_contacto .whatsapp .numerowpp .calendario {
  width: 200px;
}
.redes_contacto .whatsapp .numerowpp .numero {
  font-size: 2.5rem;
  color: rgb(0, 107, 32);
  font-family: Tommy;
}
.redes_contacto .redes_sociales {
  padding: 2rem 1rem;
  width: 45vw;
}
.redes_contacto .redes_sociales .encontranos_ig {
  text-align: center;
}
.redes_contacto .redes_sociales .inforedes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0rem;
}
.redes_contacto .redes_sociales .inforedes .imgcelu {
  width: 250px;
}
.redes_contacto .redes_sociales .inforedes .logosredes {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.redes_contacto .redes_sociales .inforedes .logosredes .logos {
  width: 150px;
}
.redes_contacto .redes_sociales .inforedes .logosredes .usuario {
  font-size: 220%;
  font-family: Tommy;
}

@media (max-width: 1353px) {
  .redes_contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .redes_contacto .whatsapp {
    padding: 0.5rem;
    width: 100vw;
  }
  .redes_contacto .whatsapp .numerowpp .numero {
    font-size: 250%;
  }
  .redes_contacto .redes_sociales {
    padding: 0.5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .redes_contacto .redes_sociales .inforedes {
    gap: 10px;
  }
  .redes_contacto .redes_sociales .encontranos_ig {
    text-align: center;
  }
}
@media (max-width: 1241px) {
  .la_pelu .atencion .horarios {
    font-size: 200%;
  }
  .la_pelu .atencion .dias {
    font-size: 120%;
  }
}
@media (max-width: 1219px) {
  .encabezado .navegacion .pages {
    font-size: 250%;
  }
}
@media (max-width: 991px) {
  .barberos .eloy .info_eloy {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .barberos .eloy .info_eloy .foto_eloy {
    width: 40vw;
    height: 50vw;
  }
  .hijos .hijos_eloy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "alejo morro" "texto texto";
  }
  .caja_ivan .info_ivan {
    display: flex;
    flex-direction: column-reverse;
  }
  .descripcion {
    grid-area: texto;
    text-align: center;
    font-size: 150%;
  }
  .elian_img {
    width: 30vw;
    height: 40vw;
    size: 100%;
    grid-area: morro;
  }
  .alejo_img {
    width: 30vw;
    height: 40vw;
    grid-area: alejo;
  }
  .ivan_img {
    width: 40vw;
    height: 50vw;
  }
  .nombres {
    font-size: 100%;
  }
}
@media (max-width: 950px) {
  .servicios .cortes {
    width: 40vw;
  }
  .servicios .barba {
    width: 40vw;
  }
  .servicios .cejas {
    width: 40vw;
  }
}
@media (max-width: 937px) {
  .la_pelu .atencion .horarios {
    font-size: 170%;
  }
}
@media (max-width: 860px) {
  .la_pelu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .la_pelu .veni {
    width: 90vw;
    margin: 0;
  }
  .la_pelu .atencion {
    width: 90vw;
    margin: 0px 0px 5px 0px;
  }
  .la_pelu .pelu .carrusel {
    width: 90vw;
  }
}
@media (max-width: 760px) {
  main .principal_page .titulo1 {
    font-size: 5rem;
  }
  main .principal_page .titulo2 {
    font-size: 5rem;
  }
}
@media (max-width: 690px) {
  .redes_contacto .whatsapp .numerowpp .calendario {
    width: 120px;
  }
  .redes_contacto .whatsapp .numerowpp .wpplogo {
    width: 120px;
  }
}
@media (max-width: 674px) {
  .encabezado .navegacion .pages {
    font-size: 200%;
  }
  .servicios {
    flex-direction: column;
  }
  .servicios .barba {
    width: 70vw;
  }
  .servicios .cejas {
    width: 70vw;
  }
  .servicios .cortes {
    width: 70vw;
  }
  .servicios .diseños {
    width: 60vw;
    height: auto;
  }
}
@media (max-width: 665px) {
  .redes_contacto .redes_sociales .inforedes .logosredes {
    display: flex;
    flex-direction: column;
  }
  .redes_contacto .whatsapp .numerowpp .calendario {
    display: none;
  }
}
@media (max-width: 584px) {
  .encabezado .navegacion .pages {
    font-size: 120%;
  }
}
@media (max-width: 515px) {
  .redes_contacto .redes_sociales .inforedes .inforedes {
    gap: 0;
  }
  .redes_contacto .redes_sociales .inforedes .inforedes .imgcelu {
    width: 200px;
  }
  .redes_contacto .redes_sociales .inforedes .inforedes .logosredes .logos {
    width: 100px;
  }
  .redes_contacto .redes_sociales .inforedes .inforedes .logosredes .usuario {
    font-size: 170%;
  }
  .redes_contacto .whatsapp .numerowpp .wpplogo {
    width: 100px;
  }
  .redes_contacto .whatsapp .numerowpp .numero {
    font-size: 200%;
  }
}
@media (max-width: 500px) {
  main .principal_page .titulo1 {
    font-size: 4rem;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(179, 179, 179);
  }
  main .principal_page .titulo2 {
    font-size: 4rem;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
  }
}
@media (max-width: 450px) {
  .titulos_barberos {
    font-size: 250%;
    text-align: center;
  }
  .elian_img {
    width: 30vw;
    height: 50vw;
  }
  .alejo_img {
    width: 30vw;
    height: 50vw;
  }
}
@media (max-width: 401px) {
  .títulos_servicios {
    font-size: 300%;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #245050;
  }
  .redes_contacto .whatsapp .numerowpp .numero {
    font-size: 150%;
  }
}
@media (max-width: 375px) {
  .redes_contacto .redes_sociales .inforedes {
    flex-direction: column;
  }
  .titulos_pages {
    font-size: 300%;
  }
}
@media (max-width: 370px) {
  .hijos .hijos_eloy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "alejo" "morro" "texto";
  }
  .elian_img {
    width: 40vw;
    height: 50vw;
  }
  .alejo_img {
    width: 40vw;
    height: 50vw;
  }
  .desc_hijos {
    font-size: 100%;
  }
}
@media (max-width: 325px) {
  .encabezado {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */